.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 1.1rem;
}

/* src/styles/HomePage.css */
h1,
h2 {
  text-align: center;
}

.carousel-item p {
  text-align: center;
  font-style: italic;
}
